body{
    margin: 0;
    background-color: #fff3e6;
}

h1{
    margin: 0;
    font-size: 300%;
}

p{
    font-size: 150%;
    font-family: 'Indie Flower', cursive;
}

.one{
    color: #0d335d;
    text-align: center;
    
}