body{
    margin: 0;
}
.navbar{
height: 80px;
background-color: #393e46;
}

.top-title{
    margin: 0;
}

.top{
    background-color: #eeeeee;
    color: #222831;
    margin: 0;
    padding-top: 100px;
    position: relative;
    text-align: center;
}

.dev{
    text-decoration: underline;
}

.top-cloud{
position: absolute;
right: 550px;
top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 600px;
    bottom: 300px;
}

/*
.middle{
background-color: #00adb5;
height: 200px;
width: 200px;
}

.bottom{
    background-color: #eeeeee;
    height: 200px;
    width: 200px;
}*/